<aside class="aside">
    <nav class="nav">
        <a class="link" href="">
            <div class="container_link">
                <span class="icon_aside material-symbols-outlined">dashboard</span>
                <p class="title_aside">Dashboard</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="">Cadastrar</a>
                <a class="option_menu" href="">Listar</a>
                <a class="option_menu" href="">Atualizar</a>
            </ul>
        </a>
        
        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">sell</span>
                <p class="hidden title_aside">Vendas</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="">Cadastrar</a>
                <a class="option_menu" href="">Listar</a>
                <a class="option_menu" href="">Atualizar</a>
            </ul>
        </a>

        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">group</span>
                <p class="hidden title_aside">Clientes</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="clientes">Lista de Clientes</a>
                <a class="option_menu" href="">Listar</a>
                <a class="option_menu" href="">Atualizar</a>
            </ul>
        </a>
        
        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">paid</span>
                <p class="hidden title_aside">Financeiro</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="">Cadastrar</a>
                <a class="option_menu" href="">Listar</a>
                <a class="option_menu" href="">Atualizar</a>
            </ul>
        </a>
        
        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">add_shopping_cart</span>
                <p class="hidden title_aside">Compras</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="">Cadastrar</a>
                <a class="option_menu" href="">Listar</a>
                <a class="option_menu" href="">Atualizar</a>
            </ul>
        </a>
        
        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">monitoring</span>
                <p class="hidden title_aside">Controladoria</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="">Cadastrar</a>
                <a class="option_menu" href="">Listar</a>
                <a class="option_menu" href="">Atualizar</a>
            </ul>
        </a>
       
        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">inventory</span>
                <p class="hidden title_aside">Produtos</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="cadastrar-produtos">Cadastrar produto</a>
                <a class="option_menu" href="tabela-produtos">Tabela de Produtos</a>
                <a class="option_menu" href="lista-produtos">Lista de Produtos</a>
            </ul>
        </a>
        
        <a class="link" href="">
            <div class="container_link">
                <span class="material-symbols-outlined">support_agent</span>
                <p class="hidden title_aside">Suporte</p>
            </div>
            <ul class="menu">
                <a class="option_menu" href="chamados">Chamados</a>
            </ul>
        </a>

    </nav>
</aside> 