<footer class="bg-zinc-200 absolute bottom-0 w-dvw flex justify-around items-center flex-col py-4">
    <div class="flex gap-20">
        <ul class="flex flex-col gap-2 font-sans text-sm mb-8 text-sky-700 font-semibold">
            Social
            <p class="cursor-pointer hover:text-sky-700 duration-300 text-black font-normal">Linkedin</p>
            <p class="cursor-pointer hover:text-sky-700 duration-300 text-black font-normal">Instagram</p>
            <p class="cursor-pointer hover:text-sky-700 duration-300 text-black font-normal">Facebook</p>
        </ul>
        <ul class="flex flex-col  gap-2 font-sans text-sm mb-8 text-sky-700 font-semibold">
            Suporte
            <p class="cursor-pointer hover:text-sky-700 duration-300 text-black font-normal">Capitais (00) 0000-0000</p>
            <p class="cursor-pointer hover:text-sky-700 duration-300 text-black font-normal">FAQs</p>
        </ul>
    </div>
    <p class="text-xs">
        Copyright © 2024 Smart. Todos os direitos reservados.
    </p>
</footer>