<header class="bg-zinc-200 w-dvw h-16 flex items-center justify-around">
    <a href="/">
        <img class="h-10" src="http://www.gestaodinamica.com.br/assets/images/logo/logo-gd-svg.svg" alt="logo">
    </a>
    <ul class="flex gap-5"> 
        <a class="hover:text-sky-700 duration-300" href="/">Clientes</a>
        <a class="hover:text-sky-700 duration-300" href="/estoque">Estoque</a>
        <a class="hover:text-sky-700 duration-300" href="/compras">Compras</a>
        <a class="hover:text-sky-700 duration-300" href="/controladoria">Controladoria</a>
        <a class="hover:text-sky-700 duration-300" href="/financeiro">Financeiro</a>
    </ul>
</header>