<div class="p-4 ">
    <li class="border-[0.1rem] border-slate-400 h-10 flex items-center justify-center gap-1 bg-slate-400">
        <span class="h-8 text-center w-2/12">Produto</span>
        <span class="h-8 text-center w-1/12">Valor</span>
        <span class="h-8 text-center w-1/12">Peso</span>
        <span class="h-8 text-center w-1/12">Altura</span>
        <span class="h-8 text-center w-2/12">Descrição completa</span>
        <span class="h-8 text-center w-2/12">Grupo</span>
        <span class="h-8 text-center w-2/12">Categoria</span>
        <span class="h-8 text-center w-2/12">Imagem</span>
    </li>
    <li class="flex items-center gap-1 border-[0.09rem] border-slate-400" *ngFor="let product of getProducts">
        <span class="text-center w-2/12">{{ product.description }}</span>
        <span class="text-center w-1/12">{{ product.value.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}) }}</span>
        <span class="text-center w-1/12">{{ product.weigth }}</span>
        <span class="text-center w-1/12">{{ product.heigth }}</span>
        <span class="text-center w-2/12">{{ product.completed_description }}</span>
        <span class="text-center w-2/12">{{ product.group }}</span>
        <span class="text-center w-2/12">{{ product.category }}</span>
        <span class="text-center w-2/12">{{ product.image }}</span>
    </li>
</div>