<main class="flex h-dvh">
    <app-aside></app-aside>
    <section class="w-[90dvw] h-[90dvh] m-auto flex flex-col gap-12">
        <app-client-list></app-client-list>

        <!-- <div class="flex w-full gap-12">        
            <ul class="bg-slate-100 w-dvw p-2">
                <h1 class="text-center pb-4">Ultimos clientes cadastrados</h1>
                <li class="flex border-b-[0.1rem]" *ngFor="let client of latestClient">
                    <p class="w-32 border-r-[0.1rem]">{{ client.name }}</p>
                    <p class="w-12 border-r-[0.1rem] text-center">{{ client.state }}</p>
                    <p class="w-32 border-r-[0.1rem]">{{ client.city }}</p>
                    <p class="w-32 border-r-[0.1rem]">{{ client.created_at }}</p>
                </li>
            </ul>
        </div> -->
    </section>
</main>