<div class="w-dvw max-w-3xl">
    <header class="h-12 flex justify-around items-center">
        <h3>Cadastro de clientes</h3>
        <span (click)="cancelCreated()" class="material-symbols-outlined">close</span>
    </header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="bg-slate-300 flex flex-col gap-4 px-8 pb-6 rounded-sm text-sm">
        <div class="flex gap-4">
            <label class="label" for="name">
                <span class="title_label">*  Nome</span>
                <input placeholder="Nome" class="input_label" type="text" formControlName="name">
            </label>
            <label class="label" for="lastName">
                <span class="title_label">*  Sobrenome</span>
                <input placeholder="Sobrenome" class="input_label" type="text" formControlName="lastName">
            </label>
            <label class="label" for="email">
                <span class="title_label">*  Email</span>
                <input placeholder="Email" class="input_label" type="text" formControlName="email">
            </label>
        </div>
        <div class="flex gap-4">
            <label class="label" for="document">
                <span class="title_label">*  Documento</span>
                <input maxlength="11" placeholder="CPF ou CNPJ" class="input_label" type="text" formControlName="document">
            </label>
            <label class="label" for="cellPhone">
                <span class="title_label">*  Celular</span>
                <input maxlength="11" placeholder="Celular" class="input_label" type="text" formControlName="cellPhone">
            </label>
            <label class="label" for="fixed">
                <span class="title_label">Telefone Fixo</span>
                <input maxlength="9" placeholder="Telefone fixo" class="input_label" type="text" formControlName="fixed">
            </label>
       </div>
        <div class="flex gap-4">
            <label class="label" for="state">
                <span class="title_label">*  Estado</span>
                <select class="rounded-md h-[2rem]" name="state" id="state" formControlName="state">
                    <option value="">Selecione o Estado</option>
                    <option value="SP">SP</option>
                    <option value="RJ">RJ</option>
                </select>
            </label>
            <label class="label" for="city">
                <span class="title_label">*  Cidade</span>
                <select class="rounded-md h-[2rem]" name="city" id="city" formControlName="city">
                    <option value="">Selecione Cidade</option>
                    <option value="Sao Paulo">São Paulo</option>
                    <option value="Guarulhos">Guarulhos</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                </select>
            </label>
        </div>
        
        <div class="flex gap-4">
            <label class="label" for="zipCode">
                <span class="title_label">*  CEP</span>
                <input maxlength="8" placeholder="CEP" class="input_label" type="text" formControlName="zipCode">
            </label>
            <label class="label" for="number">
                <span class="title_label">*  Número</span>
                <input maxlength="5" placeholder="Número" class="input_label" type="text" formControlName="number">
            </label>
        </div>
        
        <div class="flex gap-4">
            <label class="label" for="road">
                <span class="title_label">*  Rua</span>
                <input placeholder="Rua" class="input_label" type="text" formControlName="road">
            </label>
            <label class="label" for="neighborhood">
                <span class="title_label">*  Bairro</span>
                <input placeholder="Bairro" class="input_label" type="text" formControlName="neighborhood">
            </label>
        </div>

        <label class="label min-w-full" for="reference">
            <span class="title_label">Referência</span>
            <input placeholder="Referencia" class="input_label" type="text" formControlName="reference">
        </label>

        <div class="flex gap-4">
            <label class="label" for="isPersonFisic">
                <span class="title_label">*  Pessoa fisica</span>
                <div class="flex gap-2">
                    <span class="flex flex-col w-10 text-center">
                        Sim
                        <input name="isPersonFisic" [value]="true" type="radio">
                    </span>
                    <span class="flex flex-col w-10 text-center">
                        Não
                        <input name="isPersonFisic" [value]="false" type="radio">
                    </span>
                </div>
            </label>
            <label class="label" for="observation">
                <span class="title_label">Observações</span>
                <textarea class="p-2 outline-none" name="observation" id="observation" cols="30" rows="5" formControlName="observation"></textarea>
            </label>
        </div>
        <div class="flex gap-2 text-white mt-8">
            <button type="submit" class="bg-indigo-500 font-medium px-2 p-1 rounded-md m-auto">Cadastrar</button>
            <button (click)="cancelCreated()" type="button" class="bg-red-400 font-medium px-2 p-1 rounded-md m-auto">Cancelar</button>
        </div>
    </form>
</div>