<main class="main_default">
    <app-aside></app-aside>
    <section class="flex flex-col w-dvw h-screen">
        <header class="bg-white w-full h-20 flex items-center">
            <a class="ml-20" href="/">    
                <img class="h-8" src="http://www.gestaodinamica.com.br/assets/images/logo/logo-gd-svg.svg" alt="logo">
            </a>        
        </header>
        <div class="w-[90dvw] h-[90dvh] m-auto bg-white rounded-xl">
            <div class="p-4 flex justify-between items-center bg-slate-400 border-[0.1rem] border-white rounded-t-lg">
                <h1 class="text-2xl font-semibold">Cadastro de Produtos</h1>
            </div>
            <form class="p-4 bg-slate-300 mt-3 m-auto w-8/12 flex flex-col justify-center items-center">
                <div class="w-6/12">
                    <div style="width: 100%;">
                        <div style="width: 100%;" class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Produto</label>
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Produto">
                        </div>
                        <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Valor</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Valor">
                    </div>
                </div>
                <div style="width: 100%;">
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Produto</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Produto">
                    </div>
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Valor</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Valor">
                    </div>
                </div>
                <div style="width: 100%;">
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Peso</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Peso">
                    </div>
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Altura</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Altura">
                    </div>
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Comprimento</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Comprimento">
                    </div>
                </div>
                <div style="width: 100%;">
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Categoria</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Categoria">
                    </div>
                    <div style="width: 100%;" class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Descrição completa</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição completa"></textarea>
                    </div>
                </div>
            </div>
            <button style="width: 50%;" class="p-4 bg-green-400 rounded-xl">Salvar</button>
            </form>
        </div>
    </section>
</main>