<div class="bg-slate-100 p-2 h-[40rem] w-[70rem] flex flex-col gap-2">
  <li class="flex items-center gap-2 p-2">
    <span class="w-3/12">Nome</span>
    <span class="w-3/12">Documento</span>
    <span class="w-3/12">Email</span>
    <span class="w-3/12">Celular</span>
    <span class="w-3/12 ">Estado</span>
    <span class="w-3/12">Cidade</span>
    <button (click)="createClient()" class="bg-blue-400 text-slate-100 p-2 rounded-lg" type="button">Cadastrar</button>
  </li>
  <ul class="flex flex-col gap-2 overflow-x-auto" *ngIf="clientList.length > 0">
    <li class="flex items-center rounded-lg gap-2 font-light text-[0.8rem] bg-white p-2" *ngFor="let client of clientList">
      <span class="w-3/12">{{ client.name }}</span>
      <span class="w-3/12">{{ client.document }}</span>
      <span class="w-3/12">{{ client.email }}</span>
      <span class="w-3/12">{{ client.cellPhone }}</span>
      <span class="w-3/12 pl-8">{{ client.state }}</span>
      <span class="w-3/12">{{ client.city }}</span>
      <span [id]="client.id" (click)="viewClient($event)" class="material-symbols-outlined text-2xl">visibility</span>
      <span [id]="client.id" (click)="deleteClient($event)" class="material-symbols-outlined text-2xl">delete</span>
      <span class="material-symbols-outlined">edit</span>
    </li>
  </ul>
</div>