<form [formGroup]="orderCreateForm" (ngSubmit)="includeOrder()" style="background-color: white; width: 100%; height: 31rem; border: 0.1rem solid rgb(209 213 219); border-radius: 0.5rem;" class="d-flex flex-column">
    <h1 class="fs-5 fw-medium mb-3 text-center">Criação de Pedidos</h1>
    <div style="width: 100%;" class="p-2">
        <div class="d-flex gap-3">
            <label style="width: 50%;" for="createdAt">
                <span>* Data</span>
                <input formControlName="createdAt" type="date" class="form-control" id="createdAt">
            </label>
            <label style="width: 50%;" for="client">
                <span>* Cliente</span>
                <input formControlName="client" type="text" class="form-control" id="client" placeholder="Cliente">
            </label>
        </div>
        <div class="d-flex gap-4 p-2">
            <label style="width: 50%;" for="paymentForm">
                <span>* Forma de pagamento</span>
                <select formControlName="paymentForm" class="form-select">
                    <option disabled selected>Selecione a forma de pagamento</option>
                    <option value="cartao">Cartão</option>
                    <option value="dinheiro">Dinheiro</option>
                    <option value="boleto">Boleto</option>
                </select>
            </label>
            <label style="width: 50%;" for="nature">
                <span>* Natureza</span>
                <input formControlName="nature" type="text" class="form-control" id="nature" placeholder="Natureza">
            </label>
        </div>
    </div>
    <div class="p-2 border-t border-slate-300">
        <h1 class="text-center text-2xl font-semibold py-2">Items</h1>
        <div style="width: 100%;" class="d-flex gap-4 mb-3">
            <label style="width: 50%;" for="quanty">
                <span>* Produto</span>
                <input formControlName="product" class="form-control" type="text" placeholder="Produto">
            </label>
            <label style="width: 50%;" for="quanty">
                <span>* Quantidade</span>
                <input formControlName="quanty" class="form-control" type="text" placeholder="Quantidade">
            </label>
        </div>
        <div style="width: 100%;" class="d-flex gap-4 mb-3">
            <label style="width: 50%;" for="unitaryValue">
                <span>* Valor unitário</span>
                <input (keyup)="sumAmount($event)" class="form-control" type="text" placeholder="R$">
            </label>
            <label style="width: 50%;" for="delivaryDate">
                <span>* Data da entrega</span>
                <input formControlName="deliveryDate" class="form-control" type="date">
            </label>
        </div>
    </div>
    <div class="flex justify-around items-center border-t border-slate-300 pt-2">
        <button style="background-color: blue; color: white; border-radius: 0.5rem;" class="p-3 fs-6 fw-medium" type="submit">Incluir pedido</button>
        <p>Total: R$ {{ orderCreateForm.value.amount }}</p>
    </div>
</form>
