@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(30, 89, 143);
}

.main_default {
  @apply flex h-dvh bg-gray-400;
}

.section_default {
  @apply bg-slate-200 w-[90dvw] h-[90dvh] m-auto p-8;
}

/* BOTÂO PARA CRIAÇÂO - GLOBAL */
.btn_create {
  background-color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
}

.btn_create:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
  transition: 1s;
}
/*  */